# Ioannou_Georgios

## Copyright © 2022 by Georgios Ioannou

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
# Import class datetime from module datetime.
from datetime import datetime

# today is a datetime object containing current date and time.
today = datetime.now()
# Format the datetime object to the desired string representation.
datetime_string_format = today.strftime('%Y-%m-%d %X')
# Print the result.
print(datetime_string_format)

2022-08-16 13:04:11

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [2]:
# Import float constant pi from module math.
from math import pi


# Function that accepts the radius of a circle and returns the area of a circle.
# The function for the area of a circle is pi * radius squared.
def area_of_circle(r):
    return pi * (r ** 2)


# Call the function and print the result.
print('The area of a circle with radius 3 is:', area_of_circle(3))
print('The area of a circle with radius 15 is:', area_of_circle(15))
print('The area of a circle with radius 70 is:', area_of_circle(70))

The area of a circle with radius 3 is: 28.274333882308138
The area of a circle with radius 15 is: 706.8583470577034
The area of a circle with radius 70 is: 15393.804002589986

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [3]:
# Function that takes a list of numbers and returns True if all numbers in the list are unique
# and returns False if the list contains duplicate numbers.
def is_unique(input_list):
    # Convert the input_list to a set.
    # Set elements are unique. Duplicate elements are not allowed in a set.
    input_set = set(input_list)
    # If the size of the input_set matches the size of the input_list,
    # then all the elements in the input_list are unique and therefore the function returns True.
    # If the size of the input_set does not match the size of the input_list,
    # then not all the elements in the input_list are unique and therefore the function returns False.
    if len(input_set) == len(input_list):
        return True
    return False


input_list = [2, 4, 5, 5, 7, 9]

# Call the function and print the result.
print('The input_list is:', input_list)
print('Question: Are all numbers in the input_list unique?')
print('Answer:', is_unique(input_list))

The input_list is: [2, 4, 5, 5, 7, 9]
Question: Are all numbers in the input_list unique?
Answer: False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [7]:
# Solution 1
# Import Counter from module collections.
from collections import Counter

# Define the path to the file you want to read.
path_to_file = 'data/lil-wayne.txt'

# Open the file and return a stream.
file_handle = open(file=path_to_file)
# Read the file and store the string into data.
data = file_handle.read()
# Close the file.
file_handle.close()

# Convert all the characters to uppercase.
data_uppercase = data.upper()

# Use the Counter to map from each key to the number of times it appears.
count = Counter(data_uppercase)

# Print the result.
print('Solution 1')
print(count)

# Solution 2
# Create an empty list which will store all the data.
data_list = []

# Append all the characters to the list.
for character in data_uppercase:
    data_list.append(character)

# Create an empty dictionary in which the keys of the dictionary are the characters,
# and the values are the counts of that character.
character_dictionary = {}

for character in data_list:
    value = data_list.count(character)
    key = character
    character_dictionary[key] = value

# Print the result.
print()
print('Solution 2')
print(character_dictionary)

Solution 1
Counter({' ': 522, 'E': 274, 'A': 211, 'I': 185, 'T': 180, 'N': 165, 'R': 152, 'S': 152, 'O': 145, 'L': 126, 'H': 122, 'M': 77, 'D': 74, 'U': 66, 'W': 63, 'C': 60, 'B': 59, 'G': 53, 'Y': 44, 'F': 44, 'P': 39, ',': 37, '0': 36, '1': 28, '.': 26, '2': 24, 'V': 20, '9': 16, '[': 14, ']': 14, 'K': 13, '(': 12, ')': 12, 'J': 8, '7': 7, '8': 6, '\n': 6, '-': 6, 'X': 5, '5': 5, '4': 4, '6': 3, '3': 2, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1})

Solution 2
{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [8]:
# Sort the above dictionary to find which character appears the most.
sorted_character_dictionary = {key: value for key, value in
                               sorted(character_dictionary.items(), key=lambda item: item[1], reverse=True)}
print(sorted_character_dictionary)

{' ': 522, 'E': 274, 'A': 211, 'I': 185, 'T': 180, 'N': 165, 'R': 152, 'S': 152, 'O': 145, 'L': 126, 'H': 122, 'M': 77, 'D': 74, 'U': 66, 'W': 63, 'C': 60, 'B': 59, 'G': 53, 'Y': 44, 'F': 44, 'P': 39, ',': 37, '0': 36, '1': 28, '.': 26, '2': 24, 'V': 20, '9': 16, '[': 14, ']': 14, 'K': 13, '(': 12, ')': 12, 'J': 8, '7': 7, '8': 6, '\n': 6, '-': 6, 'X': 5, '5': 5, '4': 4, '6': 3, '3': 2, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [9]:
# Input list.
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

# Remove the fourth number from the list.
fourth_number = list1.pop(3)

# Take that number you just removed and multiply the last number of the list by that number.
# list1[len(list1) - 1]  == list1[-1]
new_number = fourth_number * list1[len(list1) - 1]

# Append that number to the end of the list.
list1.append(new_number)

# Print the list.
print('list1:', list1)

list1: [1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [11]:
# Using the list below, make a new list that contains only the numbers from the original list
# that are divisible by three.
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []

for number in original_list:
    # If number is divided by three and the remainder is zero, then it is divisible by three.
    # Therefore, append it to the new_list.
    if (number % 3) == 0:
        new_list.append(number)

# Print the result.
print('original_list:', original_list)
print('new_list:', new_list)

original_list: [2, 3, 6, 8, 9, 15, 19, 21]
new_list: [3, 6, 9, 15, 21]

## #7 Reverse the list below

In [12]:
# Reverse the list below.
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()
# Print the result.
print('original_list:', original_list)

original_list: [21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [13]:
# Using the list below, turn every item of the list into its square.
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = []

for number in original_list:
    new_list.append(number ** 2)

# Print ther result.
print('original_list:', original_list)
print('new_list:', new_list)

original_list: [1, 2, 3, 4, 5, 6, 7]
new_list: [1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [14]:
# Given two Python lists, iterate both lists simultaneously such that:
# list1 should display item in original order and list2 in reverse order.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

# Sizes of the two lists.
list1_size = len(list1)
list2_size = len(list2)

# The minimum size of the two lists if they are not equal. To avoid IndexError: list index out of range.
minimum_size = min(list1_size, list2_size)

for i in range(minimum_size):
    print(list1[i], ' ', list2[-i - 1])

10   400
20   300
30   200
40   100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [6]:
# Remove empty strings from the list of strings.
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

# Keep iterating while there are empty strings in the list_of_strings.
# If there are empty strings in the list_of_strings, then remove them.
while '' in list_of_strings:
    list_of_strings.remove('')

# Print the result.
print('list_of_strings:', list_of_strings)

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [19]:
# Check if the value 999 exists in the dictionary below. If so, print True, if not print False.
sample_dict = {'a': 100, 'b': 999, 'c': 300}

# Value to look for in the dictionary.
value = 999
print('Question: Does the value ', value, ' exist in the dictionary?')

if value in sample_dict.values():
    print('Answer:', True)
else:
    print('Answer:', False)

Question: Does the value  999  exist in the dictionary?
Answer: True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [21]:
# Import the module pandas.
import pandas as pd
df = pd.read_csv(filepath_or_buffer='data/titanic.csv')
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [22]:
# Find the mean age of the age column in your dataframe.
mean_age = df['age'].mean()

# Print the result.
print('The mean age of the age column in my dataframe is:', mean_age)

The mean age of the age column in my dataframe is: 29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [24]:
# Find the oldest age on the titanic.
oldest_age = df['age'].max()
# Find the youngest age on the titanic.
youngest_age = df['age'].min()

# Print the results.
print('The oldest age on the titanic was:', oldest_age)
print('The youngest age on the titanic was:', youngest_age)

The oldest age on the titanic was: 80.0
The youngest age on the titanic was: 0.42

## How many people embarked from station 'S'?

In [ ]:
# Find how many people embarked from station 'S'.
station_s = list(df['embarked']).count('S')

# Print the result.
print('The number of people who embarked from station \'S\' was:', station_s)